body {
    background-color: black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
